
// Common - Base
//------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-arial;
  font-size: $font-size;
  line-height: $font-line-height;
  background-color: $background;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-red;
    text-decoration: underline;
  }
}

@media all and (max-width:991px) {
  .container {
   width: 100% !important;
  }
}