.news {
  width: 640px;
  margin-top: 15px;
  overflow: hidden;
  background-color: white;
  @include border-shadow();
}

.news-categories,
.news-article-list {
  @extend %reset-list;
}

.news-categories {
  margin: 0;
  @extend %clearfix;
}

.news-article-list {
  padding: 0 20px 20px;
  position: relative;
}

.news-category {
  width: 50%;
  display: block;
  float: left;
  white-space: nowrap;
  &:last-child {
    .news-category-title {
      position: relative;
      @include vertical-dots();
    }
    .news-article-list {
      @include vertical-dots(rgba(0, 0, 0, 0.2), 1px, 5px, '../img/gradient/vertical-gradient-black.png');
    }
  }
}

.news-category-title {
  margin: 0;
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  border-bottom: 2px solid $light-shadow;
  text-shadow: $text-pink-shadow -1px -1px;
  @include vertical-gradient($gradient-pink-up, $gradient-pink-down);
}

@media (max-width:991px) {
  .news {
    width: 100%;
  }
}

@media all and (max-width:479px) {
  .news-category {
    width: 100%;
    float: none;
    &:last-child {
      .news-article-list:after {
        display: none;
      }
      .news-category-title:after {
        display: none;
      }
    }
  }
}