
// Mixins
//------------------------------------------------------------------------------

// Use with @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%center-items {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

%reset-list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  > li {
    white-space: normal;
  }
}

@mixin vertical-gradient($start: #000, $stop: #FFF) {
  background: ($start + $stop) / 2;
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
  background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
  background: -moz-gradient(center top, $start 0%, $stop 100%);
  behavior: url(../js/PIE.htc);
}

@mixin vertical-dots($color: rgba(255, 255, 255, 0.4), $width: 1px, $height: 5px, $png: '../img/gradient/vertical-gradient-white.png') {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: 100%;
    background-image: url($png);
    background: linear-gradient($color 33%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: $width $height;
    background-repeat: repeat-y;
    overflow: hidden;
  }
}

@mixin horizontal-dots($color: rgba(255, 255, 255, 0.4), $width: 5px, $height: 1px) {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height;
    background-image: url('../img/gradient/horizontal-gradient-black.png');
    background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: $width $height;
    background-repeat: repeat-x;
  }
}

@mixin border-radius($radius: 5px) {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: $radius;
  -moz-background-clip: padding-box;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  behavior: url(js/PIE.htc);
}

@mixin border-shadow($top: none, $right: 2px solid $dark-shadow, $bottom: 2px solid $dark-shadow, $left: none, $radius: 10px) {
  border-top: $top;
  border-right: $right;
  border-bottom: $bottom;
  border-left: $left;
  @include border-radius($radius);
}
