$-fb: 0px 0px 0px 0px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';
$-google-plus: 48px 0px -48px 0px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';
$-more-arrow: 48px 48px -48px -48px 12px 9px 92px 92px '../../../dist/img/common/sprites@2x.png';
$-twitter: 0px 48px 0px -48px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';

