$sprite-2x-fb: 0px 0px 0px 0px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-google-plus: 48px 0px -48px 0px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-gray-arrow: 48px 48px -48px -48px 24px 18px 92px 92px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-more-arrow: 48px 70px -48px -70px 24px 18px 92px 92px '../../../dist/img/common/sprites@2x.png';
$sprite-2x-twitter: 0px 48px 0px -48px 44px 44px 92px 92px '../../../dist/img/common/sprites@2x.png';

