
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;
$background: #EAE2D7 !default;
$gradient-pink-down: #E31955 !default;
$gradient-pink-up: #F8336F !default;
$light-shadow: #E5E5E5 !default;
$dark-shadow: #DED6CD !default;
$text-pink-shadow: #C4184B !default;
$image-border: #EAE1D5 !default;
$text-black: #EAE1D5 !default;
$text-pink: #D92F65 !default;
$text-brown: #978670 !default;
$news-border: #DED6CC !default;
$article-title: #433b31 !default;
$contact-title-brown: #9F907B !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;
